


.header {
  height: 3.125rem;
  z-index: 1;
  position: relative;
  padding: 0rem;
  background: var(--headerbg);
  z-index: 3;
  padding-left: 15rem;
  padding-top: 0rem;
  transition: all 0.2s ease;
}
.header .header-content {
  height: 100%;
  padding-left: 3.1rem;
  padding-right: 1.075rem;
  align-items: center;
  display: flex;
  position: relative;
}
[data-header-position="fixed"] .content-body {
  padding-top: 3.125rem;
}

[data-header-position="fixed"] .header {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 63.9375rem) {
  [data-sidebar-style="full"] .header,
  [data-sidebar-style="overlay"] .header {
    width: 100%;
    padding-left: 5rem;
  }
}


@media only screen and (max-width: 47.9375rem) {
  .header .header-content {
    padding-left: 3.75rem;
    padding-right: 0.938rem;
  }
  .header .header-content:after {
    left: -5rem;
    width: calc(100% + 5rem);
  }
}
.header .navbar {
  padding: 0;
  height: 100%;
  width: 100%;
}
.header .navbar .navbar-collapse {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 47.9375rem) {
  .header {
    padding-top: 0;
  }
}

[data-headerbg="color_2"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_3"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_4"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_5"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_6"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_7"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_8"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_9"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_10"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_11"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_12"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_13"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_14"] .header {
  background: var(--headerbg);
}

[data-headerbg="color_15"] .header {
  background: var(--headerbg);
}


[data-sidebar-style="full"] .header,
[data-sidebar-style="overlay"] .header {
  width: 100%;
}
@media only screen and (max-width: 87.5rem) {
  [data-sidebar-style="full"] .header,
  [data-sidebar-style="overlay"] .header {
    width: 100%;
    padding-left: 17rem;
  }
}

[data-sidebar-style="mini"] .header {
  width: 100%;
  padding-left: 7.5rem;
}
@media only screen and (max-width: 63.9375rem) {
  [data-sidebar-style="mini"] .header {
    padding-left: 6.5rem;
  }
}

[data-sidebar-style="compact"] .header {
  width: 100%;
  padding-left: 12.5rem;
}
[data-sidebar-style="compact"] .header .header-content {
  padding-left: 2.5rem;
}


.header-left {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-left .breadcrumb {
  margin-bottom: 0;
}
.header-left .agenda a {
  border-radius: 1.75rem;
}
.header-left .agenda a i {
  margin-right: 0.75rem;
}
@media only screen and (max-width: 87.5rem) {
  .header-left .agenda a i {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 93.75rem) {
  .header-left .agenda a {
    font-size: 0;
    border-radius: 0.75rem;
    padding: 0.8125rem 0.9375rem;
  }
  .header-left .agenda a i {
    font-size: 1.25rem;
    margin-right: 0;
  }
}
@media only screen and (max-width: 35.9375rem) {
  .header-left .agenda {
    display: none;
  }
}
.header-left .dashboard_bar {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--secondary);
}
@media only screen and (max-width: 74.9375rem) {
  .header-left .dashboard_bar {
    font-size: 2.125rem;
  }
}
@media only screen and (max-width: 47.9375rem) {
  .header-left .dashboard_bar {
    display: none;
  }
}
.header-left .dashboard_bar.sub-bar {
  font-size: 1.875rem;
}
.header-left .search-area {
  width: 15rem;
  background-color: var(--rgba-primary-1);
  border-radius: 0;
}
@media only screen and (max-width: 100rem) {
  .header-left .search-area {
    width: 18.75rem;
  }
}
@media only screen and (max-width: 74.9375rem) {
  .header-left .search-area {
    display: none;
  }
}
.header-left .search-area .form-control {
  border: 0;
  background: transparent;
  font-size: 0.875rem;
  font-weight: 400;
  padding-left: 4px;
}
@media only screen and (max-width: 87.5rem) {
  .header-left .search-area .form-control {
    height: 3rem;
  }
}
.header-left .search-area .input-group-text {
  background-color: transparent;
  border: 0;
  padding-right: 0;
}
.header-left .search-area .input-group-text a i {
  font-size: 1.5rem;
}
.header-left .search-area .input-group-text a svg path,
.header-left .search-area .input-group-text a svg circle {
  stroke: var(--primary);
}
@media only screen and (max-width: 87.5rem) {
  .header-left .search-area .input-group-text {
    height: 3rem;
  }
}


[data-headerbg="color_4"] .search-area {
  background-color: #202020 !important;
}

[data-sidebar-style="compact"] .header-left {
  margin-left: 0;
}


@media only screen and (max-width: 47.9375rem) {
  [data-header-position="fixed"] .content-body {
    padding-top: 3.1rem;
  }
}
[data-header-position="fixed"] .deznav {
  margin-top: 0;
}

[data-sidebar-style="compact"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] .header {
  width: 74.9375rem;
}

[data-sidebar-style="modern"] .header {
  width: 100%;
  padding-left: 11.9rem;
}
[data-sidebar-style="modern"][data-layout="horizontal"] .nav-header .brand-logo {
  justify-content: start;
}
[data-sidebar-style="modern"][data-layout="horizontal"] .header .header-content {
  padding-left: 1.875rem;
}



.header-right {
  height: 100%;
}
.header-right .header-profile {
  position: relative !important;
}
.header-right .header-profile .dropdown-menu:after {
  content: none;
}
.header-right .header-profile img {
  width: 45px;
}
@media only screen and (max-width: 87.5rem) {
  .header-right .header-profile img {
    width: unset;
  }
}
.header-right .nav-item {
  display: flex;
  justify-content: center;
  position: relative;
}
.header-right .nav-item .nav-link {
  color: #464a53;
  font-size: 1.125rem;
}
.header-right .right-sidebar {
  margin-right: -1.875rem;
}
.header-right .right-sidebar a {
  height: 5rem;
  width: 5rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-left: 0.0625rem solid #f5f5f5;
}
@media only screen and (max-width: 47.9375rem) {
  .header-right .notification_dropdown {
    position: relative;
  }
}
.header-right .notification_dropdown .nav-link {
  position: relative;
  padding: 0.8375rem;
  line-height: 1;
}
.header-right .notification_dropdown .nav-link i {
  font-size: 1.5rem;
}
@media only screen and (max-width: 87.5rem) {
  .header-right .notification_dropdown .nav-link i {
    font-size: 1.125rem;
  }
}
.header-right .notification_dropdown .nav-link svg path,
.header-right .notification_dropdown .nav-link svg circle {
  stroke: #6e6e6e;
}
@media only screen and (max-width: 87.5rem) {
  .header-right .notification_dropdown .nav-link svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media only screen and (max-width: 35.9375rem) {
  .header-right .notification_dropdown .nav-link svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.header-right .notification_dropdown .nav-link:hover {
  background: var(--rgba-primary-1);
}
.header-right .notification_dropdown .nav-link:hover svg path,
.header-right .notification_dropdown .nav-link:hover svg circle {
  stroke: var(--primary);
}
.header-right .notification_dropdown .dropdown-item:focus a,
.header-right .notification_dropdown .dropdown-item:active a {
  color: #fff;
}
.header-right .notification_dropdown .dropdown-item a {
  color: #6e6e6e;
}
.header-right .notification_dropdown .dropdown-item a:hover {
  text-decoration: none;
}
[data-theme-version="dark"] .header-right .dropdown-menu {
  box-shadow: none;
}

@media only screen and (max-width: 74.9375rem) {
  .header-right .dropdown-menu:after {
    content: none;
  }
}
.header-right .search-area {
  width: 25rem;
}
.header-right .search-area .form-control {
  background: #fff;
  border: 0;
  padding-left: 0;
  border-radius: 0.75rem;
}
.header-right .search-area ::placeholder {
  color: #a098ae;
  font-size: 16px;
  font-weight: 400;
}
.header-right .search-area .input-group-text {
  border-radius: 0.75rem;
  background: #fff;
  padding: 0px 5px;
  border: 0;
  padding-right: 0;
}
.header-right .search-area .input-group-text i {
  font-size: 1.5rem;
}
.header-right .search-area .input-group-text svg path {
  fill: var(--primary);
}
@media only screen and (max-width: 100rem) {
  .header-right .search-area {
    width: 15.625rem;
  }
}
@media only screen and (max-width: 74.9375rem) {
  .header-right .search-area {
    display: none;
  }
}
.header-right .header-media {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 7px;
}
.header-right .header-media img {
  width: 100%;
  border-radius: 100%;
}
@media only screen and (max-width: 35.9375rem) {
  .header-right .header-media {
    margin-right: 0;
  }
}
.header-right .header-info h6,
.header-right .header-info .h6 {
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 1;
}
@media only screen and (max-width: 87.5rem) {
  .header-right .header-info h6,
  .header-right .header-info .h6 {
    margin-bottom: 4px;
  }
}
.header-right .header-info p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 4px;
}
.header-right .header-border {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  margin-left: 12px;
  padding-right: 24px;
}
.header-right .header-border:hover {
  background: transparent;
}
@media only screen and (max-width: 87.5rem) {
  .header-right .header-border {
    margin-left: 1.875rem;
  }
}
@media only screen and (max-width: 35.9375rem) {
  .header-right .header-border {
    display: none;
  }
}
.header-right .blur-img {
  position: absolute;
  left: 27%;
  top: 0;
  filter: blur(554px);
}